.e1{stroke-dasharray:0 0 1.99 1.99;}
.e1,.f,.g,.stroke,.i,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s,.t{fill:none;}
.e1,.f,.g,.stroke,.i,.j,.l,.m,.n,.o,.p,.q,.r,.s,.t{stroke:#333;}
.e1,.f,.g,.i,.j,.k,.l,.m,.n,.o,.p,.q,.u,.r,.s,.t{stroke-width:.3px;}
.e1,.f,.g,.i,.j,.l,.m,.n,.o,.p,.q,.r,.s,.t{stroke-miterlimit:10;}
.f{stroke-dasharray:0 0 1.99 1.99;}
.g{stroke-dasharray:0 0 2 2;}
.stroke{stroke-width:3px;}
.h,.k,.u{stroke-linejoin:round;}
.i{stroke-dasharray:0 0 1.99 1.99;}
.j{stroke-dasharray:0 0 1.99 1.99;}
.k,.u{stroke:#383838;stroke-dasharray:0 2;}
.l{stroke-dasharray:0 0 1.99 1.99;}
.m{stroke-dasharray:0 0 2.01 2.01;}
.n{stroke-dasharray:0 0 2 2;}
.o{stroke-dasharray:0 0 2 2;}
.q{stroke-dasharray:0 0 1.99 1.99;}
.u{fill:#eaeaea;}
.r{stroke-dasharray:0 0 1.99 1.99;}
.s{stroke-dasharray:0 0 1.99 1.99;}
.t{stroke-dasharray:0 0 2 2;}