.index-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.title-container {
    margin-top: 30px;
    display: block;
    position: relative;
}

.zzz-container {
    width: min(20vw, 200px);
    clear: both;
    float: right;
    color: #a0a0a0;
    font-size:medium;
    font-family: "Noto Serif", "Noto Serif SC", serif;
    text-align: right;
}

.slogan-container {
    float: right;
    clear: both;
}

.slogan {
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-size: min(3.7vw, 40px);
    font-weight: 400;
}

@media (max-width: 767px) {
    .index-body {
        padding: 5px;
    }
}