@font-face {
  font-family: "zzz-font";
  src: url("../../../zzz-font/zzz.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../../../web-font/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../../../web-font/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../../../web-font/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../../../web-font/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../../web-font/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../../web-font/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../../web-font/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../../web-font/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("../../../web-font/Noto_Sans_SC/NotoSansSC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("../../../web-font/Noto_Sans_SC/NotoSansSC-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif SC";
  src: url("../../../web-font/Noto_Serif_SC/NotoSerifSC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Serif SC";
  src: url("../../../web-font/Noto_Serif_SC/NotoSerifSC-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}