.job-2022-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    line-height: 1;
}

@media (max-width: 767px) {
    .job-2022-body {
        padding: 5px;
    }
}